{% extends 'base.html' %}
{% load library_extras %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">


                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Data przeczytania</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            {% for date in date_read|in_books:book|in_users:user %}
                                <td>{{ date.date }}</td>
                            {% endfor %}
                            <td><a href="{% url 'collection:book_collection_remove' pk=book.pk %}"
                                   class="btn btn-danger">Usuń</a></td>
                        </tr>
                    {% empty %}
                        <p>Lista jest pusta</p>
                    {% endfor %}

                    </tbody>
                </table>
                <button class="btn btn-info" id="new_book_form_button">Dodaj książkę</button>
                <div class="p-3 d-none" id="new_book_form">
                    <form method="POST" action="{% url 'collection:book_collection_add_new' %}"> {% csrf_token %}

                        Tytuł: <input type="text" name="title" value="{{ book.name }}" id="input-title">
                        Autor: <input type="text" name="author" value="{{ book.author }}" id="input-author">
                        Data przeczytania: <input type="date" name="date" id="input-date">

                        <button type="submit" class="btn btn-primary" id="new-book-submit-form">Dodaj</button>
                    </form>
                </div>
                <div class="alert alert-danger d-none" id="err-msg">
                    <p class="d-none" id="err-title">! Dodaj tytuł książki</p>
                    <p class="d-none" id="err-author">! Dodaj autora książki</p>
                    <p class="d-none" id="err-date">! Dodaj datę przeczytania książki</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}