{% load static %}   <!-- znacznik pozwalający użyć static -->


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LibGliwice {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href={% static
    './images/favicon/favicon.png' %}>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <!-- link do staticów. ścieżka idzie od folderu static-->
    <script src="{% static './js/bootstrap.min.js' %}" async defer></script>
    <script src="{% static './js/main.js' %}" async defer></script>
    <!-- asynchronicznie dociąga i parsuje js. HTML generuje sie wcześniej -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:home' %}">LibGliwice</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'library:books_availability' %}">Sprawdź
                        dostępność</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'library:libraries' %}">Filie</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'collection:my_library' %}">Moja
                        biblioteka</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:user_account' %}">Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'users:logout' %}">Wyloguj: {{ user }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Logowanie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:signup' %}">Rejestracja</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active btn btn-warning"  aria-current="page" href="{% url 'users:auto_sign' %}">Demo</a>
                </li>
                {% endif %}
                {% endif %}


            </ul>

        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

{% if user.get_username == 'demo' %}
<div class="container p-3">
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert">
                Poruszasz się w wersji demo. Możesz dowolnie używać dostępnych opcji. W razie potrzeby w każdej
                chwili możesz wygenerować nowe dane, klikając przycisk
                <a href="{% url 'demo:demo' %}" class="btn btn-warning ">Generuj</a>
            </div>
            <div class="m-1">

                <a href="{% url 'home:instruction' %}" class="btn btn-outline-primary btn-lg">Zapoznaj się z
                    instrukcją</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

</body>
</html>
